[Unit]
Description=mirror-monitor
After=network.target
Type=oneshot

[Service]
ExecStart=/usr/bin/mirror-monitor

[Install]
WantedBy=default.target
RequiredBy=network.target
